<% provide(:title, "About") %>
<h2><b>About</b></h2>

<p>
This is the first attempt at an on-line ordering system for City Produce customers, version 0.2.
</p>
<p>
Contact <a href="mailto:mark@cityproduce.com?Subject=Web%20site%20suggestion" target="_top">Mark Hidaka</a>
if you want this site to provide different or additional functionality.
</p>
<br>
<br>
<br>
<small>
This application created by Kona Silence&trade; Software &copy;2017<br>
Test contact <a href="mailto:kenneth.abramson@gmail.com?Subject=Web%20site%20contact" target="_top">Kona Silence&trade;</a>
</small>