<% provide(:title, "Contact") %>
<h2><b>Contact</b></h2>
<p>
<b>City Produce</b><br>
(206) 682-0320<br>
710 7th Avenue South<br>
Seattle, WA 98104<br>
<a href="mailto:mark@cityproduce.com?Subject=Web%20site%20contact" target="_top">Send email</a>
</p>