<% provide(:title, "Help") %><!DOCTYPE html>
<h2><b>Help</b></h2>
<p>
Contact <b>Mark Hidaka</b> to create an account or any other concern.
<br>
<a href="mailto:mark@cityproduce.com?Subject=Web%20site%20help" target="_top">
Send email</a>
<br>Phone: (206) 682-0320
</p>