<% provide(:title, 'Sign up') %>
<% provide(:button_text, "Create account") %>
<% provide(:use_path, signup_path) %>
<h2></b>Create new customer account</b></h2>

<div class="row">
  <div class="col-xs-12">
		<%= render 'form' %>
  </div>
</div>